<form [formGroup]="Searchsalaryform" class="form-row">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class ="col-md-4 control-label" for="search">Search by Salary</label>
        </div>
        <div class="col-md-8">
          <input formControlName="search" id="" type="text" class="form-control" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class ="col-md-4 control-label" for="selectSalary">Betweeen Range</label>
        </div>
        <div class="col-md-8">
          <select class="form-control" title="Select Range" formControlName="selectfilter" id="select1">
            <option value="1">Greater Than</option>
            <option value="0">Less Than</option>
          </select>
        </div>
      </div>
    </div>
  </div>
    <!-- <div class="form-group">
      <button class="btn btn-primary" name="Search" value="Submit">Search</button>
    </div> -->
</form>
<div class="container" style="padding-top: 5%;">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Salary</th>
        </tr>
        <tr *ngFor="let item of usersdata; index as i">
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.salary}}</td>
        </tr>
      </table> 
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

