<div class="row">
  <div class="col-lg-4" style="padding-left: 5%;padding-top:5%;">
    <button class="btn btn-primary" (click)="backclick()">Back To Form</button>
  </div>
  <div class="col-lg-8">
    <form [formGroup]="Searchsalaryform" class="form-row">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class ="col-md-4 control-label" for="search">Search by Salary</label>
            </div>
            <div class="col-md-8">
              <input formControlName="search" id="inputsalary" class="form-control" maxlength="11" appDigitsOnly required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class ="col-md-4 control-label" for="selectSalary">Betweeen Range</label>
            </div>
            <div class="col-md-8">
              <select class="form-control" formControlName="selectSalary" id="select1">
                <option value="">Select Range</option>
                <option value="Greater than">Greater Than</option>
                <option value="Less than">Less Than</option>
              </select>
            </div>
          </div>
        </div>
      </div>
        <!-- <div class="form-group">
          <button class="btn btn-primary" name="Search" value="Submit">Search</button>
        </div> -->
    </form>
  </div>
</div>
<div class="container" style="padding-top: 5%;">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" *ngIf="usersdata != null && usersdata?.length > 0">
      <table style="width:100%" *ngIf="usersdata != null && usersdata?.length > 0">
        <tr>
          <!-- <th>No.</th> -->
          <th>Name</th>
          <th>Email</th>
          <th>Salary</th>
        </tr>
        <tr *ngFor="let item of usersdata | filterSalary:Searchsalaryform.value.selectSalary : Searchsalaryform.value.search">
          <!-- <td>{{i + 1}}</td> -->
          <td>{{item?.name}}</td>
          <td>{{item?.email}}</td>
          <td>{{item?.salary}}</td>
        </tr>
      </table> 
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="msgClass" *ngIf="usersdata != null && usersdata.length == 0">
    <p>No Records Found!</p>
  </div>
</div>

